.editor-container {
    font-family: monospace;
    overflow: auto;
    border: rgb(233, 233, 233) 1px solid;
}
.editor-container[lang]:not([lang=""])::after {
    content: attr(lang);
    position: absolute;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: .2em;
    bottom: 1em;
    right: 2em;
    text-transform: capitalize;
}
.editor-inner-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: min-content;
    min-height: 100%;
}
.lines {
    min-width: min-content;
    width: 1.5em;
    overflow: hidden;
    direction: rtl;  
    border-right: 2px #e1e1e1 solid;
    padding: 0 1em;
    background-color: #f7f7f7;
}
.editor {
    position: relative;
    background-color: white;
    width: 100%;
}
.editor > pre {
    overflow: hidden;
}

.editor > pre, .editor > textarea {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%; height: 100%;
    padding: 0; margin: 0;
    border: none;
}
.editor > textarea {
    color: transparent;
    resize: none;
    background: transparent;
}
#caretpre {
    color: transparent;
}
.caret {
    display: inline-block;
    width: 0;
    height: 1em;
}
.focused .caret::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1em;
    background-color: black;
    animation: 1s caretanim;
    animation-iteration-count: infinite;
}

.focused .caret::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100vw;
    height: 1em;
    border: 1px rgba(207, 207, 207, 0.32) solid;
    border-left: none;
    border-right: none;
}

textarea::selection {
    background-color: rgba(0, 255, 255, 0.315);
}

.editor-middle-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

@keyframes caretanim {
    0% { opacity: 1; }
    45%   { opacity: 1; }
    50%   { opacity: 0; }
    95% { opacity: 0; }
    100% { opacity: 1; }
}
